{erl_opts, [debug_info]}.
{plugins, [
  {rebar3_lint,
   {git, "https://github.com/project-fifo/rebar3_lint.git",
    {tag, "0.1.4"}}
  }
]}.
{deps, [
  {yamerl, {git, "https://github.com/yakaz/yamerl.git", {tag, "v0.3.2-1"}}}
]}.
{profiles, [
    {prod, [
      {relx, [
          {dev_mode, false},
          {include_erts, true}
      ]}
    ]},
    {test, [
      {deps, [meck]}
    ]}
  ]}.
